
<span class="status" ng-if="event.status" ng-class="event.status" ng-bind="event.status"></span>
<span class="referral" ng-if="event.referral"><a ng-href="/user/{{event.referral}}" ng-bind="users.getName(event.referral)"></a></span>
<span class="comment" ng-if="event.comment" ng-bind="event.comment"></span>
<span class="user"><a ng-href="/user/{{event.by}}" ng-bind="users.getName(event.by)"></a></span>
<span class="time"><span ng-bind="event.at | date : 'h:mma dd/MM/yyyy'"></span> <span class="compact">({{event.at | fullTime}} ago)</span></span>
