<div class="jumbotron">
	<dl class="dl-horizontal">
	    <dt>Patient</dt>
	    <dd ng-bind="task.patient.name"></dd>
	    <dt>NHI</dt>
	    <dd ng-bind="task.patient.nhi"></dd>
	    <dt>Specialty</dt>
	    <dd><a ui-sref="specialty({specialtyId: task.patient.specialty})" ng-bind="task.patient.specialty"></a></dd>
	    <dt>Ward</dt>
	    <dd><a ui-sref="ward({wardId: task.patient.ward})" ng-bind="task.patient.ward"></a></dd>
	    <dt>Bed</dt>
	    <dd ng-bind="task.patient.bed"></dd>
	    <dt>Urgency</dt>
	    <dd ng-bind="task.urgency"></dd>
    </dl>
    <p ng-bind="task.text"></p>
    <div>
        Added
        by <a ui-sref="profile.public({userId: task.added.user.uid})" ng-bind="task.added.user.name"></a>
        at {{ task.added.timestamp | date : "h:mma 'on' dd/MM/yyyy"}}
    </div>
    <div ng-if="task.accepted">
        Accepted
        by <a ui-sref="profile.public({userId: task.accepted.user.uid})" ng-bind="task.accepted.user.name"></a>
        at {{ task.accepted.timestamp | date : "h:mma 'on' dd/MM/yyyy"}}
    </div>
    <div ng-if="task.completed && !task.completed.cancelled">
        Completed
        by <a ui-sref="profile.public({userId: task.completed.user.uid})" ng-bind="task.completed.user.name"></a>
        at {{ task.completed.timestamp | date : "h:mma 'on' dd/MM/yyyy"}}
    </div>
    <div ng-if="task.completed && task.completed.cancelled">
        Cancelled
        by <a ui-sref="profile.public({userId: task.completed.user.uid})" ng-bind="task.completed.user.name"></a>
        at {{ task.completed.timestamp | date : "h:mma 'on' dd/MM/yyyy"}}
        <span class="glyphicon glyphicon-comment" tooltip="{{task.completed.cancelled}}"></span>
    </div>
    <button type="button" class="btn btn-info" ng-if="canStamp('accepted')" ng-click="stamp('accepted')">Accept</button>
    <button type="button" class="btn btn-success" ng-if="canStamp('completed')" ng-click="stamp('completed')">Complete</button>
    <button type="button" class="btn btn-danger" ng-if="canStamp('cancelled')" ng-click="stamp('completed', 'because...')">Cancel</button>
</div>
<blockquote ng-repeat="comment in comments">
    <p ng-bind="comment.comment"></p>
    <footer>by <a ui-sref="profile.public({userId: comment.user.uid})" ng-bind="comment.user.name"></a>
                            at <em ng-bind="comment.timestamp | date : 'short'"></em></footer>
</blockquote>
<form ng-hide="task.completed" class="form-inline" ng-submit="addComment(newComment); newComment = ''">
    <div class="form-group">
	    <label for="newComment">Add a new comment</label>
        <input type="text" id="newComment" class="form-control" placeholder="Comment" ng-model="newComment"></input>
    </div>
    <div class="form-group">
	    <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>

<a class="btn btn-default" ui-sref="^.overview">Back</a>
