<h4>Events</h4>
<ul ng-if="events.length">
    <li ng-repeat="event in events" class="event">
        <span class="status" ng-if="event.status" ng-class="event.status" ng-bind="event.status"></span>
        <span class="comment" ng-if="event.comment" ng-bind="event.comment"></span>
        <span class="referral" ng-if="event.referral"><a ui-sref="user({userId: event.referral})" ng-bind="event.referral | toUser"></a></span>
        <span class="user"><a ui-sref="user({userId: event.by})" ng-bind="event.by | toUser"></a></span>
        <span class="time" ng-bind="event.at | date : 'h:mma dd/MM/yyyy'"></span>
    </li>
</ul>
<div class="forms" ng-hide="task.completed">
    <div class="buttons">
        <button type="button" ng-click="events.updateStatus('Added')">Add</button>
        <button type="button" ng-click="events.updateStatus('Accepted')">Accept</button>
        <button type="button" ng-click="events.updateStatus('Completed')">Complete</button>
        <button type="button" ng-click="events.updateStatus('Cancelled')">Cancel</button>
    </div>
    <form ng-submit="events.referTo(target)">
        <select ng-model="target" ng-options="key as value.f + ' ' + value.l + ' (' + value.r + ')' for (key, value) in users" required >
            <option value="">Refer to:</option>
        </select>
        <input type="submit" value="Refer" />
    </form>
    <form ng-submit="events.addComment(newComment); newComment = ''">
        <label for="newComment">Add a new comment</label>
        <input type="text" id="newComment" ng-model="newComment" />
        <input type="submit" class="btn btn-primary" value="Post" />
    </form>
</div>
<!-- <pre ng-bind="events | json"></pre> -->
