<div class="content">
  <h2>New Task</h2>
  <form ng-submit="addTask(newTask)" name="form" novalidate>
  	<label for="patient">Patient name</label>
  	<input id="patient" name="patient" class="form-control" type="text" ng-model="newTask.patient" required/>
  	<label for="nhi">NHI</label>
  	<input id="nhi" name="nhi" class="form-control" type="text" ng-model="newTask.nhi" required ng-pattern="/^[a-zA-Z]{3}[0-9]{4}$/"/>
  	<label for="ward">Ward</label>
  	<select id="ward" name="ward" class="form-control" ng-model="newTask.ward" required ng-options="ward as ward group by building for (ward,building) in wards">
      <option value="">Select a ward</option>
    </select>
  	<label for="bed">Bed</label>
  	<input id="bed" name="bed" class="form-control" type="text" ng-model="newTask.bed" required ng-maxlength="3"/>
  	<label for="specialty">Specialty</label>
  	<select id="specialty" name="specialty" class="form-control" ng-model="newTask.specialty" required ng-options="specialty.$id for specialty in specialties"><option value="">Select a specialty</option></select>
  	<label for="text">Text</label>
  	<input id="text" name="text" class="form-control" type="text" ng-model="newTask.text" required/>
  	<label for="urgency">Urgency</label>
  	<input id="urgency" name="urgency" class="form-control" type="number" ng-model="newTask.urgency" required min="1" max="3" ng-pattern="/^[0-9]+$/"/>
  	<button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
