<a class="btn btn-success" ui-sref="^.new">New Task</a>
<ul>
  <li ng-repeat="task in tasks" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}">
    <div class="cont">
      <div class="patient">
        <h3>Patient</h3>
        <dl>
          <dt class="name">Name</dt>
          <dd class="name" ng-bind="task.patient"></dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi" ng-bind="task.nhi"></dd>
          <dt class="location">Location</dt>
          <dd class="location">
            <span class="ward">
              <a ui-sref="ward({wardId: task.ward })" ng-bind="task.ward"></a>
            </span>
            <span class="bed" ng-bind="task.bed"></span>
          </dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty">
            <a ui-sref="specialty({specialtyId: task.specialty })" ng-bind="task.specialty"></a>
          </dd>
        </dl>
      </div>
      <div class="requestor">
        <h3>Requestor</h3>

        <dl> <dt class="name">Name</dt>

          <dd class="name">Florence</dd>
          <dt class="role">Role</dt>
          <dd class="role">RN</dd>
          <dt class="contact">Contact</dt>
          <dd class="contact">90231</dd>
          <dt class="due">Due</dt>
          <dd class="due">10:30am</dd>
          <!-- <dt class="urgency">Urgency</dt> -->

          <!-- <dd class="urgency" id="circle"><span class="urgency">3</span></dd> -->
        </dl>
      </div>
      <div class="task">
        <h3>Task</h3>

        <p><a ui-sref="^.detail({taskId:task.$id})" ng-bind="task.text">
            </a></p>
        <div class="status">
          <h3>Status</h3>

          <label class="added"> <span class="glyphicon glyphicon-asterisk"></span>
            <span class="content">Added</span>

          </label>
          <label class="accepted" ng-if="task.accepted"> <span class="glyphicon glyphicon-hourglass"></span>
            <span class="content">Accepted</span>

          </label>
          <label class="completed" ng-if="task.completed"> <span class="glyphicon glyphicon-ok"></span>
            <span class="content">Completed</span>

          </label>
          <label class="cancelled" ng-if="task.cancelled"> <span class="glyphicon glyphicon-remove"></span>
            <span class="content">Cancelled</span>

          </label>
        </div>
      </div>
    </div>
  </li>
</ul>
