<h2>{{context}} tasks</h2>
<ul class="taskList">
  <li class="task" ng-repeat="task in tasks | orderBy : ['inactive','added.at'] : true" ng-click="tasks.goTo(task.$id)">
    <div class="urgency" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box" ng-class="tasks.getStatus(task.$id)"></div>
    <div class="cont">
        <dl class="meta">
          <dt class="patient">Patient</dt>
          <dd class="patient" ng-bind="task.patient"></dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi" ng-bind="task.nhi"></dd>
          <dt class="location">Location</dt>
          <dd class="location"><span class="ward" ng-bind="task.ward"></span><span class="bed" ng-bind="task.bed"></span></dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty" ng-bind="task.specialty"></dd>
        </dl>
        <dl class="text">
          <dt>Text</dt>
          <dd ng-bind="task.text"></dd>
        </dl>
      </div>
    </div>
  </li>
</ul>
