<h2>{{context}} tasks</h2>
<ul class="taskList">
  <li class="task" ng-repeat="task in tasks | orderBy : ['data.Completed','id'] : true" ng-click="task.goToDetail()">
    <div class="urgency" ng-class="{high: task.data.urgency === 3,medium: task.data.urgency === 2,low: task.data.urgency === 1}"></div>
    <div class="box" ng-class="task.getStatus()"></div>
    <div class="cont">
        <dl class="meta">
          <dt class="patient">Patient</dt>
          <dd class="patient" ng-bind="task.data.patient"></dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi" ng-bind="task.data.nhi"></dd>
          <dt class="location">Location</dt>
          <dd class="location"><span class="ward" ng-bind="task.data.ward"></span><span class="bed" ng-bind="task.data.bed"></span></dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty" ng-bind="task.data.specialty"></dd>
        </dl>
        <dl class="text">
          <dt>Text</dt>
          <dd ng-bind="task.data.text"></dd>
        </dl>
      </div>
    </div>
  </li>
</ul>
<!-- <pre ng-bind="tasks | json"></pre>
 -->
