<h2>{{context}} tasks</h2>
<ul id="taskList" class="tasks">
  <li class="task" ng-repeat="task in tasks | orderBy : ['inactive','added.at'] : true" ng-click="go('^.detail',{taskId:task.$id})">
    <div class="urgency" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box" ng-class="getStatus(task)"></div>
    <div class="cont">
        <dl class="meta">
          <dt>Patient</dt>
          <dd class="patient" ng-bind="task.patient"></dd>
          <dt>NHI</dt>
          <dd class="nhi" ng-bind="task.nhi"></dd>
          <dt>Location</dt>
          <dd class="location">
            <span class="ward" ng-bind="task.ward"></span>
            <span class="bed" ng-bind="task.bed"></span>
          </dd>
          <dt>Specialty</dt>
          <dd class="specialty" ng-bind="task.specialty"></dd>
          <dt>Status</dt>
          <dd class="status" ng-bind="getStatus(task)"></dd>
        </dl>
        <dl class="text">
          <dt>Text</dt>
          <dd ng-bind="task.text"></dd>
        </dl>
      </div>
    </div>
  </li>
</ul>
