<h2>{{detail.task.getStatus()}} task</h2>
<div id="detail">
    <div class="section text" ng-class="{high: detail.task.info.urgency === 3,medium: detail.task.info.urgency === 2,low: detail.task.info.urgency === 1}">
        <p ng-bind="detail.task.info.text"></p>
    </div>
    <div class="section details">
        <h4>Details</h4>
        <dl class="meta">
    	    <dt class="patient">Patient</dt>
    	    <dd class="patient" ng-bind="detail.task.info.patient"></dd>
    	    <dt class="nhi">NHI</dt>
    	    <dd class="nhi" ng-bind="detail.task.info.nhi"></dd>
    	    <dt class="specialty">Specialty</dt>
    	    <dd class="specialty" ng-bind="detail.task.info.specialty"></dd>
    	    <dt class="location">Location</dt>
            <dd class="location"><span class="ward" ng-bind="detail.task.info.ward"></span><span class="bed" ng-bind="detail.task.info.bed"></span></dd>
      	    <dt class="urgency">Urgency</dt>
    	    <dd class="urgency" ng-bind="detail.task.info.urgency"></dd>
        </dl>
    </div>
    <!-- <div class="section stamps">
        <h4>Status</h4>
        <ul>
            <li class="added stamp">
                <span class="text">Added</span>
                <span class="user"><a ui-sref="user({userId: task.added.id})" ng-bind="task.added.by"></a></span>
                <span class="time" ng-bind="task.added.at | date : 'h:mma dd/MM/yyyy'"></span>
            </li>
            <li ng-if="task.accepted" class="accepted stamp">
                <span class="text">Accepted</span>
                <span class="user"><a ui-sref="user({userId: task.accepted.id})" ng-bind="task.accepted.by"></a></span>
                <span class="time" ng-bind="task.accepted.at | date : 'h:mma dd/MM/yyyy'"></span>
            </li>
            <li ng-if="task.completed && !task.completed.cancelled" class="completed stamp">
                <span class="text">Completed</span>
                <span class="user"><a ui-sref="user({userId: task.completed.id})" ng-bind="task.completed.by"></a></span>
                <span class="time" ng-bind="task.completed.at | date : 'h:mma dd/MM/yyyy'"></span>
            </li>
            <li ng-if="task.completed && task.completed.cancelled" class="cancelled stamp">
                <span class="text">Cancelled ({{task.completed.cancelled}})</span>
                <span class="user"><a ui-sref="user({userId: task.completed.id})" ng-bind="task.completed.by"></a></span>
                <span class="time" ng-bind="task.completed.at | date : 'h:mma dd/MM/yyyy'"></span>
            </li>
        </ul>
        <div class="buttons">
            <button type="button" ng-if="canStamp('accepted',task)" ng-click="stamp('accepted')">Accept</button>
            <button type="button" ng-if="canStamp('completed',task)" ng-click="stamp('completed')">Complete</button>
            <button type="button" ng-if="canStamp('cancelled',task)" ng-click="stamp('cancelled')">Cancel</button>
        </div>
    </div> -->
    <!-- <div class="section referrals">
        <h4>Referrals</h4>
        <ul>
            <li ng-repeat="(key, referral) in referrals.referrals" class="referral comment">
                <span class="to"><a ui-sref="user({userId: referral.to})" ng-bind="referral.to | toUser"></a></span>
                <span class="user"><a ui-sref="user({userId: referral.by})" ng-bind="referral.by | toUser"></a></span>
                <span class="time" ng-bind="referral.at | date : 'h:mma dd/MM/yyyy'"></span>
            </li>
        </ul>
        <form ng-submit="referrals.refer(target)" ng-hide="task.completed">
            <select ng-model="target" ng-options="key as value.f + ' ' + value.l + ' (' + value.r + ')' for (key, value) in users" required >
                <option value="">Refer to:</option>
            </select>
            <input type="submit" value="Refer" />
        </form>
    </div> -->
        <div class="section events">
            <h4>Events</h4>
<!-- <button type="button" ng-click="logme()">Log Task</button> -->
            <ul>
                <li ng-repeat="event in detail.events" class="event">
                    <span class="status" ng-if="event.status" ng-class="event.status" ng-bind="event.status"></span>
                    <span class="comment" ng-if="event.comment" ng-bind="event.comment"></span>
                    <span class="referral" ng-if="event.referral"><a ui-sref="user({userId: event.referral})" ng-bind="users.getName(event.referral)"></a></span>
                    <span class="user"><a ui-sref="user({userId: event.by})" ng-bind="users.getName(event.by)"></a></span>
                    <span class="time" ng-bind="event.at | date : 'h:mma dd/MM/yyyy'"></span>
                </li>
            </ul>
        </div>
        <div class="section forms" ng-hide="detail.task.info.Completed">
            <h4>Forms</h4>
            <div class="buttons">
                <button type="button" ng-click="detail.newStatus('Added')">Add</button>
                <button type="button" ng-click="detail.newStatus('Accepted')">Accept</button>
                <button type="button" ng-click="detail.newStatus('Completed')">Complete</button>
                <button type="button" ng-click="detail.newStatus('Cancelled')">Cancel</button>
            </div>
            <form ng-submit="detail.referTo(target)">
                <select ng-model="target" ng-options="key as users.getName(key) for (key, value) in users" required >
                    <option value="">Refer to:</option>
                </select>
                <input type="submit" value="Refer" />
            </form>
            <form ng-submit="detail.addComment(newComment); newComment = ''">
                <label for="newComment">Add a new comment</label>
                <input type="text" id="newComment" ng-model="newComment" />
                <input type="submit" class="btn btn-primary" value="Post" />
            </form>
        </div>
</div>
