<nav>
  <a ui-sref="tasks.list({context:'current'})" ui-sref-active="active">Current</a>
  <a ui-sref="tasks.list({context:'recent'})" ui-sref-active="active">Recent</a>
  <a ui-sref="tasks.new" ui-sref-active="active">New</a>
  <a ng-if="authData.uid" ui-sref="user({userId:authData.uid})" ui-sref-active="active" ng-bind="users.$getRecord(authData.uid).first + ((MyData.taskboard && MyData.taskboard.length) ? ' *' + MyData.taskboard.length + '*' : '')"></a>
  <a ng-if="!authData.uid" ui-sref="login" ui-sref-active="active">Login</a>
</nav>
