
<h2>Login Page</h2>

<form ng-submit="createMode ? createAccount(credentials,me) : login(credentials)">
    <label>
        <span>Email</span>
        <input type="email" ng-model="credentials.email" required />
    </label>
    <label>
        <span>Password</span>
        <input type="password" ng-model="credentials.password" required />
    </label>
    <div ng-cloak ng-if="createMode">
        <label>
            <span>Confirm password</span>
            <input type="password" ng-model="credentials.confirm" required />
        </label>
        <label>
            <span>First name</span>
            <input type="text" ng-model="me.first" required />
        </label>
        <label>
            <span>Last name</span>
            <input type="text" ng-model="me.last" required />
        </label>
        <label>
            <span>Role</span>
            <select ng-options="role.$id as role.$id for role in roles" ng-model="me.role" required >
                <option value="">Select a role</option>
            </select>
        </label>
        <label>
            <span>Contact</span>
            <input type="text" ng-model="me.contact" />
        </label>
        <label>
            <span>Specialty</span>
            <select ng-options="specialty.$id as specialty.$id for specialty in specialties" ng-model="me.specialty" >
                <option value="">None</option>
            </select>
        </label>
    </div>

    <button type="submit" ng-if="!createMode">Log In</button>
    <button type="button" ng-hide="createMode" ng-click="createMode = true">Register</button>
    <button type="submit" ng-cloak ng-if="createMode">Create Account</button>
    <button type="button" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

    <p ng-show="err" class="error" ng-bind="err"></p>

</form>

