<html><head>
    <title>Handover</title>

    <link rel="stylesheet" href="/styles/simple.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-app="handover" class="ng-scope">
<ui-view class="ng-scope"><a ui-sref="^.new" class="ng-scope" href="/tasks/new">New Task</a>
<h2 class="ng-scope">Current Tasks</h2>
<ul class="ng-scope">
  <li ng-repeat="(taskId, task) in Tasks.current" class="ng-scope">
    <div class="urgency low" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box Accepted" ng-class="getStatus(task)"></div>
    <div class="cont">
        <dl>
          <dt class="patient">Patient</dt>
          <dd class="patient ng-binding" ng-bind="task.patient">Humphrey Fisher</dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi ng-binding" ng-bind="task.nhi">LKJ1551</dd>
          <dt class="location">Location</dt>
          <dd class="location">
            <span class="ward">
              <a ui-sref="ward({wardId: task.ward })" ng-bind="task.ward" class="ng-binding">M12</a>
            </span>
            <span class="bed ng-binding" ng-bind="task.bed">5A</span>
          </dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty">
            <a ui-sref="specialty({specialtyId: task.specialty })" ng-bind="task.specialty" class="ng-binding">General Medicine</a>
          </dd>
          <dt class="text">Text</dt>
          <dd class="text"><a ui-sref="^.detail({taskId:taskId})" ng-bind="task.text" class="ng-binding" href="/tasks/-Jxytt2kiWI_g8VwMa_z">He is the wrong gender for this room!He is the wrong gender for this room!He is the wrong gender for this room!He is the wrong gender for this room!He is the wrong gender for this room!</a></dd>
          <dt class="status">Status</dt>
          <dd class="status ng-binding" ng-bind="getStatus(task)">Accepted</dd>
        </dl>
      </div>
    </div>
  </li><!-- end ngRepeat: (taskId, task) in Tasks.current --><li ng-repeat="(taskId, task) in Tasks.current" class="ng-scope">
    <div class="urgency medium" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box Added" ng-class="getStatus(task)"></div>
    <div class="cont">
        <dl>
          <dt class="patient">Patient</dt>
          <dd class="patient ng-binding" ng-bind="task.patient">Humphrey Herbert</dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi ng-binding" ng-bind="task.nhi">LKJ1551</dd>
          <dt class="location">Location</dt>
          <dd class="location">
            <span class="ward">
              <a ui-sref="ward({wardId: task.ward })" ng-bind="task.ward" class="ng-binding">M12</a>
            </span>
            <span class="bed ng-binding" ng-bind="task.bed">5A</span>
          </dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty">
            <a ui-sref="specialty({specialtyId: task.specialty })" ng-bind="task.specialty" class="ng-binding">Obstetrics &amp; Gynaecology</a>
          </dd>
          <dt class="text">Text</dt>
          <dd class="text"><a ui-sref="^.detail({taskId:taskId})" ng-bind="task.text" class="ng-binding" href="/tasks/-JxyuKIkoPiFvw818GYn">Really important task</a></dd>
          <dt class="status">Status</dt>
          <dd class="status ng-binding" ng-bind="getStatus(task)">Added</dd>
        </dl>
      </div>
    </div>
  </li><!-- end ngRepeat: (taskId, task) in Tasks.current --><li ng-repeat="(taskId, task) in Tasks.current" class="ng-scope">
    <div class="urgency high" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box Completed" ng-class="getStatus(task)"></div>
    <div class="cont">
        <dl>
          <dt class="patient">Patient</dt>
          <dd class="patient ng-binding" ng-bind="task.patient">Humphrey Herbert</dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi ng-binding" ng-bind="task.nhi">LKJ1551</dd>
          <dt class="location">Location</dt>
          <dd class="location">
            <span class="ward">
              <a ui-sref="ward({wardId: task.ward })" ng-bind="task.ward" class="ng-binding">M12</a>
            </span>
            <span class="bed ng-binding" ng-bind="task.bed">5A</span>
          </dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty">
            <a ui-sref="specialty({specialtyId: task.specialty })" ng-bind="task.specialty" class="ng-binding">Obstetrics &amp; Gynaecology</a>
          </dd>
          <dt class="text">Text</dt>
          <dd class="text"><a ui-sref="^.detail({taskId:taskId})" ng-bind="task.text" class="ng-binding" href="/tasks/-JxyuTPqRJ9uloY5zT7v">He is the wrong gender for this ward!</a></dd>
          <dt class="status">Status</dt>
          <dd class="status ng-binding" ng-bind="getStatus(task)">Added</dd>
        </dl>
      </div>
    </div>
  </li><!-- end ngRepeat: (taskId, task) in Tasks.current --><li ng-repeat="(taskId, task) in Tasks.current" class="ng-scope">
    <div class="urgency medium" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box Cancelled" ng-class="getStatus(task)"></div>
    <div class="cont">
        <dl>
          <dt class="patient">Patient</dt>
          <dd class="patient ng-binding" ng-bind="task.patient">Simon</dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi ng-binding" ng-bind="task.nhi">LKJ1551</dd>
          <dt class="location">Location</dt>
          <dd class="location">
            <span class="ward">
              <a ui-sref="ward({wardId: task.ward })" ng-bind="task.ward" class="ng-binding">M12</a>
            </span>
            <span class="bed ng-binding" ng-bind="task.bed">5A</span>
          </dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty">
            <a ui-sref="specialty({specialtyId: task.specialty })" ng-bind="task.specialty" class="ng-binding">Obstetrics &amp; Gynaecology</a>
          </dd>
          <dt class="text">Text</dt>
          <dd class="text"><a ui-sref="^.detail({taskId:taskId})" ng-bind="task.text" class="ng-binding" href="/tasks/-JxyuXZ7GkCZKxS-jCxm">He is the wrong gender for this ward!</a></dd>
          <dt class="status">Status</dt>
          <dd class="status ng-binding" ng-bind="getStatus(task)">Added</dd>
        </dl>
      </div>
    </div>
  </li><!-- end ngRepeat: (taskId, task) in Tasks.current -->
</ul>
<h2 class="ng-scope">Recent Tasks</h2>
<ul class="ng-scope">
  <!-- ngRepeat: (taskId, task) in Tasks.recent --><li ng-repeat="(taskId, task) in Tasks.recent" class="ng-scope">
    <div class="urgency high" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box Added" ng-class="getStatus(task)"></div>
    <div class="cont">
        <dl>
          <dt class="patient">Patient</dt>
          <dd class="patient ng-binding" ng-bind="task.patient">Humphrey Herbert</dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi ng-binding" ng-bind="task.nhi">LKJ1551</dd>
          <dt class="location">Location</dt>
          <dd class="location">
            <span class="ward">
              <a ui-sref="ward({wardId: task.ward })" ng-bind="task.ward" class="ng-binding">M12</a>
            </span>
            <span class="bed ng-binding" ng-bind="task.bed">5A</span>
          </dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty">
            <a ui-sref="specialty({specialtyId: task.specialty })" ng-bind="task.specialty" class="ng-binding">Obstetrics &amp; Gynaecology</a>
          </dd>
          <dt class="text">Text</dt>
          <dd class="text"><a ui-sref="^.detail({taskId:taskId})" ng-bind="task.text" class="ng-binding" href="/tasks/-JxyuTPqRJ9uloY5zT7v">He is the wrong gender for this ward!</a></dd>
          <dt class="status">Status</dt>
          <dd class="status ng-binding" ng-bind="getStatus(task)">Added</dd>
        </dl>
      </div>
    </div>
  </li><!-- end ngRepeat: (taskId, task) in Tasks.recent --><li ng-repeat="(taskId, task) in Tasks.recent" class="ng-scope">
    <div class="urgency medium" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box Added" ng-class="getStatus(task)"></div>
    <div class="cont">
      <div class="patient">
        <h3>Patient</h3>
        <dl>
          <dt class="patient">Patient</dt>
          <dd class="patient ng-binding" ng-bind="task.patient">Simon</dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi ng-binding" ng-bind="task.nhi">LKJ1551</dd>
          <dt class="location">Location</dt>
          <dd class="location">
            <span class="ward">
              <a ui-sref="ward({wardId: task.ward })" ng-bind="task.ward" class="ng-binding">M12</a>
            </span>
            <span class="bed ng-binding" ng-bind="task.bed">5A</span>
          </dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty">
            <a ui-sref="specialty({specialtyId: task.specialty })" ng-bind="task.specialty" class="ng-binding">Obstetrics &amp; Gynaecology</a>
          </dd>
        </dl>
      </div>
      <div class="task">
        <h3>Task</h3>
        <dl>
          <dt class="text">Text</dt>
          <dd class="text"><a ui-sref="^.detail({taskId:taskId})" ng-bind="task.text" class="ng-binding" href="/tasks/-JxyuXZ7GkCZKxS-jCxm">He is the wrong gender for this ward!</a></dd>
          <dt class="status">Status</dt>
          <dd class="status ng-binding" ng-bind="getStatus(task)">Added</dd>
        </dl>
      </div>
    </div>
  </li><!-- end ngRepeat: (taskId, task) in Tasks.recent --><li ng-repeat="(taskId, task) in Tasks.recent" class="ng-scope">
    <div class="urgency low" ng-class="{high: task.urgency === 3,medium: task.urgency === 2,low: task.urgency === 1}"></div>
    <div class="box Cancelled" ng-class="getStatus(task)"></div>
    <div class="cont">
      <div class="patient">
        <h3>Patient</h3>
        <dl>
          <dt class="patient">Patient</dt>
          <dd class="patient ng-binding" ng-bind="task.patient">Humphrey Herbert</dd>
          <dt class="nhi">NHI</dt>
          <dd class="nhi ng-binding" ng-bind="task.nhi">LKJ1551</dd>
          <dt class="location">Location</dt>
          <dd class="location">
            <span class="ward">
              <a ui-sref="ward({wardId: task.ward })" ng-bind="task.ward" class="ng-binding">M12</a>
            </span>
            <span class="bed ng-binding" ng-bind="task.bed">5A</span>
          </dd>
          <dt class="specialty">Specialty</dt>
          <dd class="specialty">
            <a ui-sref="specialty({specialtyId: task.specialty })" ng-bind="task.specialty" class="ng-binding">Obstetrics &amp; Gynaecology</a>
          </dd>
        </dl>
      </div>
      <div class="task">
        <h3>Task</h3>
        <dl>
          <dt class="text">Text</dt>
          <dd class="text"><a ui-sref="^.detail({taskId:taskId})" ng-bind="task.text" class="ng-binding" href="/tasks/-JxytLYpAyyd0xa771pG">He is the wrong gender for this ward!</a></dd>
          <dt class="status">Status</dt>
          <dd class="status ng-binding" ng-bind="getStatus(task)">Cancelled</dd>
        </dl>
      </div>
    </div>
  </li><!-- end ngRepeat: (taskId, task) in Tasks.recent -->
</ul>
</ui-view>
</body></html>
