
<h2>Profile</h2>

<select class="formChoice" ng-model="formChoice">
    <option value="info">Edit profile information</option>
    <option value="password">Change password</option>
    <option value="email">Change email address</option>
</select>

<!-- <div class="radios">
  <label>
    <input type="radio" ng-model="formChoice" value="info">
    Edit profile information
  </label>
  <label>
    <input type="radio" ng-model="formChoice" value="password">
    Change password
  </label>
  <label>
    <input type="radio" ng-model="formChoice" value="email">
    Change email address
  </label>
</div> -->

<div class="userForms" ng-switch="formChoice">

    <form ng-switch-when="info">
        <label>
            <span>First name</span>
            <input type="text" ng-model="me.first" required />
        </label>
        <label>
            <span>Last name</span>
            <input type="text" ng-model="me.last" required />
        </label>
        <label>
            <span>Role</span>
            <select ng-options="role.$id as role.$id for role in roles" ng-model="me.role" required >
                <option value="">Select a role</option>
            </select>
        </label>
        <label>
            <span>Contact</span>
            <input type="text" ng-model="me.contact" />
        </label>
        <label>
            <span>Specialty</span>
            <select ng-options="specialty.$id as specialty.$id for specialty in specialties" ng-model="me.specialty" >
                <option value="">None</option>
            </select>
        </label>
    </form>

    <form ng-switch-when="password" ng-submit="changePassword(data)">
        <label>
            <span>Email</span>
            <input type="email" ng-model="data.oldEmail" required/>
        </label>
        <label>
            <span>Current password</span>
            <input type="password" ng-model="data.oldPassword" required/>
        </label>
        <label>
            <span>New password</span>
            <input type="password" ng-model="data.newPassword" required/>
        </label>
        <label ng-show="data.newPassword">
            <span>Confirm new password</span>
            <input type="password" ng-model="data.confirmPassword" required/>
        </label>
        <input type="submit" value="Change password"/>
        <p class="error" ng-show="err" ng-bind="err"></p>
        <p class="good" ng-show="msg" ng-bind="msg"></p>
    </form>

    <form ng-switch-when="email" ng-submit="changeEmail(data)">
        <label>
            <span>Email</span>
            <input type="email" ng-model="data.oldEmail" required/>
        </label>
        <label>
            <span>New email</span>
            <input type="email" ng-model="data.newEmail" required/>
        </label>
        <label>
            <span>Password</span>
            <input type="password" ng-model="data.oldPassword" required/>
        </label>
        <input type="submit" value="Update email"/>
        <p class="error" ng-show="emailerr" ng-bind="emailerr"></p>
        <p class="good" ng-show="emailmsg" ng-bind="emailmsg"></p>
    </form>
</div>
