<div ng-show="Profile.auth && Profile.info">
    <h3>Welcome, {{Profile.info.firstname}}</h3>
</div>
<form ng-hide="Profile.auth" ng-submit="login(credentials)">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" ng-model="credentials.email" required/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" ng-model="credentials.password" required/>
    </div>
    <button class="btn btn-primary" type="submit">Log in</button>
    <a class="btn btn-success" ui-sref="register">Register</a>
	<button class="btn btn-default" type="button" ng-click="login({email:'zlodag@gmail.com',password:'zlodag'})">Log in as zlodag</button>
	<button class="btn btn-default" type="button" ng-click="login({email:'hamish@hatter.com',password:'hamish'})">Log in as user</button>
</form>
