<form ng-submit="register(credentials)" name="form">
    <div class="form-group">
        <label for="firstname">First name</label>
        <input class="form-control" type="text" id="firstname" ng-model="credentials.firstname" maxlength="20" ng-minlength="2" required/>
    </div>
    <div class="form-group">
        <label for="lastname">Last name</label>
        <input class="form-control" type="text" id="lastname" ng-model="credentials.lastname" maxlength="20" ng-minlength="2" required/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" ng-model="credentials.email"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" ng-model="credentials.password"/>
    </div>
    <button class="btn btn-default" type="submit" ng-disabled="form.$invalid">Register{{ credentials.email && credentials.password ? '' : ' anonymously'}}!</button>
</form>
