#newTask label,
#profile label {
    float:left;
    clear: left;
    width:30%;
    margin-bottom:0.5em;
    text-align:right;
    padding-right:1em;
}
#newTask input,
#newTask select,
#profile input,
#profile select {
    float:right;
    clear:right;
    width:70%;
}
#newTask input[type="submit"],
#newTask button {
    width:40%;
    margin:0 30% 0.5em;
}
.userForms>form {
    margin:0 0.5em;
}
.userForms>form label {
    display:block;
    margin: 0.5em 0;
    overflow:auto;
}
.userForms>form label>span{
    width: 50%;
    text-align:right;
    float: left;
    position:relative;
    padding-right:0.5em;
}
.userForms>form label>.asterisk:after{
    content:' *';
    color:red;
}
.userForms>form label>:not(span){
    float:right;
    width: 50%;
}
.userForms>form button,
.userForms>form input[type="submit"],
.formChoice {
    display:block;
    width:50%;
    margin: 0.5em 25% 0;
}
.userForms .error {
    color:red;
}
.userForms .good {
    color:blue;
}
