* {
    box-sizing: border-box;
}
h2 {
    font-size: 20px;
    text-align: center;
    text-transform:capitalize;
}
.tasks {
    padding: 0;
    margin: 0;
}
.tasks>li {
    list-style-type: none;
    margin: 15px 0;
    border: 3px solid black;
    position: relative;
}

.task-leave.task-leave-active,
.task-enter {
  transition:0.5s ease all;
  opacity:0;
}
.task-enter.task-enter-active,
.task-leave {
  opacity:1;
}
.urgency, .box {
    width: 40px;
    position: absolute;
    left: 0;
}
.urgency {
    top: 0;
    height: 20px;
    border-bottom: 1px solid black;
}
.urgency.high {
    background: red;
}
.urgency.medium {
    background: gold;
}
.urgency.low {
    background: green;
}
.box {
    height: 40px;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.box.Added {
        background-image: url("/icons/ellipses.svg");
}
.box.Accepted {
    background-image: url("/icons/clock.svg");
}
.box.Completed {
    background-image: url("/icons/task.svg");
}
.box.Cancelled {
    background-image: url("/icons/ban.svg");
}

div.cont {
    border-left: 1px solid black;
    padding: 0;
    margin-left: 40px;
}
div.cont:hover{
    background-color: lightcyan;
}
div.cont:active{
    background-color: rgb(162, 249, 198);
}
dl.task {
    padding: 0.5em;
    overflow: auto;
    margin: 0;
}
dl.task>dt {
    display: none;
}
dl.task>dd {
    background-repeat: no-repeat;
    background-size: 0.8em;
    background-position: left;
    padding-left: 1.5em;
    float: left;
    clear: left;
    font-family: sans-serif;
    margin: 0;
}
.nhi,.specialty {
    float: right;
    clear: right;
}
.patient {
    background-image: url("/icons/person.svg");
}
.nhi {
    background-image: url("/icons/medical-cross.svg");
}
.location {
    background-image: url("/icons/home.svg");
}
.location>.ward:after {
    content: "-"
}
.specialty {
    background-image: url("/icons/tag.svg");
}
.text {
    background-image: url("/icons/comment-square.svg");
    font-family: serif;
    font-style: italic;
    padding-top:5px;
    margin-top:5px;
    border-top:1px solid black;
    width:100%;
}
.status {
    display: none;
}
