* {
    box-sizing: border-box;
    margin: 0;
}
handover-navbar {
    overflow-x: scroll;
    display: block;
    background-color:black;
    padding-top:0.5em;
}
nav {
    margin: 0 0.5em;
    width: 200%;
}
nav>a {
    display: inline-block;
    text-decoration:none;
    padding:  0.3em 1em;
    color:white;
}
nav>a.active {
    background-color:lightblue;
    border-radius: 0.5em 0.5em 0 0;
    color: inherit;
}
h2 {
    font-size: 20px;
    text-align: center;
    text-transform:capitalize;
    border-style: solid;
    margin: 0;
    background-color: lightblue;
    border-width: 1px 0 0;
    border-width: 0;
}
.content {
    margin:0.5em;
}
dl {
    overflow: auto;
}
dt {
	float: left;
	clear: left;
}
dd {
	float: right;
	clear: right;
}