* {
    box-sizing: border-box;
    margin: 0;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    padding: 0;
}
.navbar {
    overflow: auto;
    display: block;
    background-color:black;
    background: linear-gradient(black 80%, lightblue);
    padding-bottom:0;
    line-height:1.5em;
    position:fixed;
    top:0;
    right:0;
	z-index: 100; 
	width:100%;
}
body>[ng-view]{
	margin:2em 0 1.5em;
}
nav {
    width: 20em;
}
nav>a {
    display: block;
    width:4em;
	float:left;
	margin:0 0.25em;
    text-decoration:none;
    text-align:center;
    padding:  0.3em 0 0.2em;
    color:white;
}
nav>a.active,nav>a:hover {
	background-color:lightblue;
    background: linear-gradient(black, lightblue 20%);
    color: black;
}
h2::first-letter {
	text-transform:uppercase;
}
h2 {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    background-color: lightblue;
    padding:  0.2em 0;
    border-width: 1px 0 0;
}
.content {
    padding:0.5em;
}
dl,form {
    overflow: auto;
    clear: both;
}
dt {
	float: left;
	clear: left;
}
dd {
	float: right;
	clear: right;
}
.alerts{
	position: absolute;
	right:0;
	z-index:1;
	background-color: white;
	padding: 0.2em;
	padding-top: 0;
	width: 40vw;
	border-style: solid;
	border-width: 3px;
	border-top-width: 0;
	border-color: red;
	max-width: 15em;
}
.alerts>li {
	border-style: solid;
	border-width: 1px 0 0;
	border-color: black;
	padding: 0.2em;
	text-align:left;
	padding-right: 1.3em;
}
.alerts>li:first-child{
	border:none;
}
.alerts>li.error {
	font-weight: bold;
	color:red;
}
.alerts>li:hover{
	cursor:pointer;
}
[app-version] {
	background-color:black;
	color: white;
	line-height:1.5em;
	text-align:center;
    position: fixed;
    z-index: 100; 
    bottom: 0;
    left: 0;
    width: 100%;
}