.details dt,
.details .urgency,
.events h4,
.actions h4
{
    display: none;
}
.details dd {
    float: none;
}
.text.section {
    padding:0;
}
.text.section>* {
    margin:0 1em;
    padding: 0.5em;
    background-color: white;
    border: solid black;
    border-width: 0 1px;
}
.details,
.event {
    padding:0.5em;
}
.event:nth-child(odd){
    background-color: #EAEAEA;
}
.event:nth-child(even){
    background-color: #D4D4D4;
}
.event.Added {
    background: #DEF9FF;
}
.event.Accepted {
    background: #DEFFDE;
}
.event.Completed {
    background: #FFFCAC;
}
.event.Cancelled {
    background: #FFCACA;
}
.event>* {
    display:block;
}
.event>.comment {
    font-style:italic;
}
.event>.time>.compact {
    /* font-family:monospace; */
}
/* .events {
    display:block;
} */
.section {
    border-color: black;
    border-style: solid;
    border-width: 1px 0 0;
}

.section.details>h4 {
    margin-bottom: 0.5em;
}
.actions>div{
    margin-top:0.5em;
}
.event.preview {
    background-color:yellow;
}
.actions form.ng-invalid{
    border-color: red;
}
.actions label {
    display:none;
}
.actions form {
    border:5px solid green;
    padding:0.5em;
}
.actions form>* {
    width:50%;
    float:left;
}
#newStatus,#newComment {
    margin-bottom:0.5em;
}
.actions form>*>* {
    width:100%;
}
.actions form>*:last-child{
    width:100%;
}
.leftform{
    padding-right:0.25em;
}
.rightform{
    padding-left:0.25em;
}
.actions form input[type="submit"]{
    margin-top:0.5em;
}
.actions form select:disabled{
    visibility:hidden;
}
.actions form.ng-invalid input[type="submit"]{
    display:none;
}