.tasklist {
    margin-top: 1em;
    display:block;
}
ul.tasks {
    padding: 0;
    margin: 0;
}
ul.tasks>li {
    list-style-type: none;
    position: relative;
    border-style: solid;
    border-width: 0 0 1px;
    background-color:white;
}
ul.tasks>li:first-of-type {
    border-top-width:1px;
}
.task-leave.task-leave-active,
.task-enter {
  transition:0.5s ease all;
  opacity:0;
}
.task-enter.task-enter-active,
.task-leave {
  opacity:1;
}
.urgency, .box {
    width: 40px;
    position: absolute;
    left: 0;
}
.urgency {
    top: 0;
    height: 20px;
    border-bottom: 1px solid black;
}
.urgency.high {
    background: red;
}
.urgency.medium {
    background: gold;
}
.urgency.low {
    background: green;
}
.box {
    height: 40px;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.box.Added {
    background-image: url("/icons/ellipses.svg");
}
.box.Accepted {
    background-image: url("/icons/clock.svg");
}
.box.Completed {
    background-image: url("/icons/task.svg");
}
.box.Cancelled {
    background-image: url("/icons/ban.svg");
}

div.cont {
    border-left: 1px solid black;
    padding: 0;
    margin-left: 40px;
}
div.cont:hover{
    background-color: lightcyan;
}
div.cont:active{
    background-color: rgb(162, 249, 198);
}
dl {
    padding: 0.5em;
    overflow: auto;
    margin: 0;
}
dl>dt {
    display: none;
}
dl.meta>dd, dl.text>dd {
    background-repeat: no-repeat;
    background-size: 0.8em;
    font-family: sans-serif;
    margin: 0;
}
dl.meta>dd.patient,dl.meta>dd.location,dl.text>dd {
    background-position: left;
    padding-left: 1.3em;
    float: left;
    clear: left;
}
dl.meta>dd.nhi,dl.meta>dd.specialty {
    background-position: right;
    padding-right: 1.3em;
    float: right;
    clear: right;
    background-position: right;
}
dl.meta>dd.status {
    display: none;
}
dl.meta>dd.patient {
    background-image: url("/icons/person.svg");
}
dl.meta>dd.nhi {
    background-image: url("/icons/medical-cross.svg");
}
dl.meta>dd.location {
    background-image: url("/icons/home.svg");
}
dl.meta>dd.location>span.ward:after {
    content: "-"
}
dl.meta>dd.specialty {
    background-image: url("/icons/tag.svg");
}
dl.text {
    border-top: 1px solid black;
}
dl.text>dd {
    background-image: url("/icons/comment-square.svg");
    font-family: serif;
    font-style: italic;
}
