#tasks {
    padding: 0;
    margin: 0;
}
.task {
    position: relative;
    border-style: solid;
    border-width: 0 0 1px;
}
.task:first-child {
    border-top-width:1px;
}
.task:hover{
    cursor: pointer;
    background-color: lightblue;
    background-color: rgb(230, 255, 230);
}
.task>.urgency, .task>.box {
    width: 40px;
    position: absolute;
}
.task>.urgency {
    top: 0;
    height: 20px;
    border-bottom: 1px solid black;
}
.task>.urgency.high,#detail .text.section.high {
    background: red;
}
.task>.urgency.medium,#detail .text.section.medium {
    background: gold;
}
.task>.urgency.low,#detail .text.section.low {
    background: green;
}
.task>.box {
    height: 40px;
    bottom: 0;
}
.task>.cont {
    border-left: 1px solid black;
    margin-left: 40px;
}
.task dl {
    padding: 0.5em;
}
.task dl.text>dd {
    float:left;
}
.task dl.meta {
    border-bottom: 1px solid black;
}
.task dt {
    display: none;
}
.task dd {
    font-family: sans-serif;
    margin: 0;
}
.task .status {
    display: none;
}
.task dd.patient,.task dd.location {
    float: left;
    clear: left;
}
.task dd.nhi,.task dd.specialty {
    float: right;
    clear: right;
}
.task .ward:after,#detail .ward:after {
    content: " - "
}
