<h2>Login</h2>
<div class="content">
	<form name="loginform" ng-submit="login(credentials)">
		<label for="email">Email:</label><input id="email" ng-model="credentials.email" type="email" required />
		<label for="password">Password:</label><input id="password" ng-model="credentials.password" type="password" required />
		<input type="submit" ng-disabled="loginform.$invalid"/>
	</form>
	<button type="button" ng-click="login({email:'zlodag@gmail.com',password:'zlodag'})">Log in as zlodag</button>
	<button type="button" ng-click="login({email:'hamish@hatter.com',password:'hamish'})">Log in as user</button>
</div>
