<h2>My info</h2>
<div id="profile" class="content">
	<form>
		<label for="firstname">First name</label>
		<input id="firstname" ng-model="info.f" type="text" required />
		<label for="lastname">Last name</label>
		<input id="lastname" ng-model="info.l" type="text" required />
		<label for="role">Role</label>
		<select id="role" ng-model="info.r" required ng-options="role.$id as role.$id for role in roles">
			<option value="">Select a role</option>
		</select>
		<label for="contact">Contact</label>
		<input id="contact" ng-model="details.contact" type="text" ng-pattern="/^[0-9]{3,12}$/" empty-to-null/>
		<label for="specialty">Specialty</label>
		<select id="specialty" ng-model="details.specialty" ng-options="specialty.$id as specialty.$id for specialty in specialties">
			<option value="">None</option>
		</select>
	</form>
</div>
