<h2>My info</h2>
<div class="content">
	<p ng-hide="profile.info">Retrieving user information...</p>
	<dl ng-show="profile.info">
		<dt>Name</dt>
		<dd ng-bind="profile.info.f + ' ' + profile.info.l"></dd>
		<dt>Role</dt>
		<dd ng-bind="profile.info.r"></dd>
		<dt ng-if="profile.details && profile.details.specialty">Specialty</dt>
		<dd ng-if="profile.details && profile.details.specialty" ng-bind="profile.details.specialty"></dd>
		<dt ng-if="profile.details && profile.details.contact">Contact</dt>
		<dd ng-if="profile.details && profile.details.contact" ng-bind="profile.details.contact"></dd>
	</dl>
	<button id="logout" type="button" ng-click="logout()">Logout</button>
	<a class="button" ui-sref=".edit">Edit</a>
	<ui-view></ui-view>
</div>
