<h2>User Info</h2>
<div class="section details">
    <h4>Details</h4>
	<dl class="userinfo">
		<dt class="name">Name</dt>
		<dd class="name" ng-bind="users[userId].first + ' ' + users[userId].last"></dd>
		<dt class="role">Role</dt>
		<dd class="role" ng-bind="users[userId].role"></dd>
		<dt class="specialty" ng-if="users[userId].specialty">Specialty</dt>
		<dd class="specialty" ng-if="users[userId].specialty" ng-bind="users[userId].specialty"></dd>
		<dt class="contact" ng-if="users[userId].contact">Contact</dt>
		<dd class="contact" ng-if="users[userId].contact" ng-bind="users[userId].contact"></dd>
	</dl>
</div>
<div class="section taskboard">
	<h2>Taskboard</h2>
	<ul class="taskList">
		<li ng-repeat="item in tasks | filter:taskboardFilter | orderBy:['-info.urgency',sortAccepted,'info.Added'] as results" task-item="item"></li>
		<li ng-if="results.length == 0" class="empty">
			<strong>No tasks...</strong>
		</li>
	</ul>
</div>
