<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- <div class="navbar-header">
			<a class="navbar-brand">Handover</a>
		</div> -->
		<ul class="nav navbar-nav">
			<li class="navbar-brand">Handover</li>
			<li ui-sref-active="active" ng-hide="Profile.auth"><a ui-sref="login">Login</a></li>
			<li ui-sref-active="active" ng-show="Profile.auth"><a ui-sref="tasks.overview">Tasks</a></li>
		</ul>
		<ul ng-show="Profile.auth" class="nav navbar-nav navbar-right">
			<li ng-if="Profile.auth.password"><img ng-src="{{Profile.auth.password.profileImageURL}}" height="50px"/></li>
			<li class="dropdown" dropdown>
				<a href dropdown-toggle>
	            	<span ng-bind="Profile.info.firstname"></span>
	            	<span ng-bind="Profile.info.lastname"></span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active">
						<a ui-sref="profile.public({userId:Profile.auth.uid})">
		                	<span class="glyphicon glyphicon-user"></span>
							Profile
						</a>
					</li>
					<li ui-sref-active="active" ng-show="Profile.auth">
						<a ui-sref="profile.edit">
		                	<span class="glyphicon glyphicon-cog"></span>
							Edit profile
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href ng-click="Profile.logout()">
		                	<span class="glyphicon glyphicon-log-out"></span>
		                	Log out
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<!-- <pre ng-bind="Profile.info | json"></pre>
 -->
